

.modal-content {
    box-shadow: none;
    height: 100%;
    width: 100%;
}
.modal-content iframe {
    box-shadow: none;
    height: 315px;
    width: 560px;
}
.modal-dialog {
    height: 315px;
    width: 660px;
}